.main_container{
  width: 100%;
  height: 100vh;
  display: flex;
  margin: 0;
}
.left_container{
  width: 50%;
  height: 100vh;
  background-color: white;
  margin-left: 70px;
  overflow-y: scroll;
}
.heading{
  text-align: center;
  /* color: rgb(254, 125, 139); */
  color: seagreen;
}
.resume_main_container{
    width: 100%;
    display: block;
    user-select: none;
    padding-bottom: 16px;
    position: sticky;
    top: 0px;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    padding-top: 20px;
}
.resume_container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume_content{
  margin-right: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume_score{
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.3px;
    font-weight: 600;
    border-radius: 4px;
    margin-right: 8px;
    color: rgb(255, 255, 255);
    font-variant-numeric: tabular-nums;
    width: fit-content;
    height: 20px;
    padding: 2px 4.5px;
    background-color: rgb(254, 125, 139);
}
.resume_p{
  font-size: 16px;
    line-height: 20px;
    color: rgb(130, 139, 162);
    margin-right: 5px;
    display: block;
    max-width: 180px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.resume_score_right{
  /* display: flex; */
    flex: 1 1 0%;
    margin-left: 150px;
    margin-bottom: 8px;
}
.resume_score_rights{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
    flex: 1 1 0%;
    overflow: hidden;
}
.mark{
  width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:rgb(51, 157, 93) ;
    color: #fff;
    margin-left: 16px;
    position: relative;
    bottom: 2px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.1s ease 0s;
}
.resume_score1{
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.3px;
  font-weight: 600;
  border-radius: 4px;
  margin-right: 6px;
  color: rgb(33, 125, 71);
  font-variant-numeric: tabular-nums;
  background: rgb(231, 244, 237);
  height: 20px;
  padding: 2px 4px;
}
.resume_p1{
  display: flex;
    flex-direction: row-reverse;
    white-space: nowrap;
    font-size: 16px;
    line-height: 20px;
    color: rgb(130, 139, 162);
    cursor: pointer;
    transition: opacity 0.4s ease 0s, transform 0.4s ease 0s;
    opacity: 1;
    transform: translateY(0px);
}
.progress_bar{
  width: 95%;
  height: 3px;
  background-color: rgb(239, 242, 249);
}
.progress{
  height: 3px;
  transform-origin: left center;
  transform: scaleX(0.18);
  background-color: rgb(254, 125, 139);
}
.horse_tag{
  display: flex;
  margin-top: 1rem;
  width: 95%;
  height: 120px;
  background-color: rgb(239, 242, 249);
  margin-bottom: 50px;
}
.horse_tag img{
  width: 70%;
  height: 80%;
  border-style: none;
  /* overflow-clip-margin: content-box; */
  overflow: clip;
  padding-top: 10px;
}
.horse{
  width: 50px;
  height: 62.4px;
  margin: auto 10px;
}
.text1{
  font-size: 17px;
    line-height: 20px;
    font-weight: 600;
    margin-top: 24px;
    cursor: pointer;
}
.text2{
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(130, 139, 162);
  margin-top: 4px;
}
.arrow_icon{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
 padding-left: 10px;
}
.main_container h2 {
  font-size:23px ;
  font-weight: 600;
  line-height: 28px;
  color: #1e2532;
} 

label {
  line-height: 20px;
  font-size: 16px;
  display:inline-block;
  margin-bottom: 10px;
  color: rgb(130,139,162);
  cursor: default;
  font-weight: 400;
}
.questn{
  width: 20px;
  height:20px;
  border-radius: 50%;
  border: 1px solid blue;
  margin-left: 5px;
  color: blue;
  padding: 1px 4px;
}
input {
  width: 100%;
  padding:15px 30px;
  margin-top: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 2px;
  background-color: rgb(239, 242, 249);
}
input:focus{
  border-bottom: 2px solid skyblue;
}
.personal_details{
  display: flex;
  justify-content: space-between;
  padding-right:4rem ;
}
.img_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43%;
  height: 60px;
  color: blue;
  position: relative;
}
.img_container .img{
width: 20%;
height: 40px;
padding: 25px;
margin-right: 20px;
background-color: rgb(239, 242, 249);
color: rgb(160, 157, 157);
}
.img_container .input_img{
  position: absolute;
   width: 38%;
  padding: 0px 3px 0px 3px;
   left: 0px;
   
}
.img_container p{
  margin-left: 30px !important;
}
.img:hover{
  color: blue;
}
.gap{
  margin-top: 2rem;
}
.gap p{
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(130, 139, 162);
}
.Professional_summary{
  width: 90%;
  height: 200px;
  background-color: rgb(239, 242, 249);
  border-radius: 5px;
}
.Professional_summary::placeholder {
  text-align: left;
}

.history{
  width: 90%;
  height: 100px;
  padding: 1px ;
  text-align: start;
  background-color: rgb(239, 242, 249);
  border-radius: 5px;
}
h3{
  color: rgb(26, 145, 240);
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  cursor: pointer;
}
.skill_btn{
  padding: 10px;
}
.done_btn{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
/* right side */
.right_container{
  width: 50%;
  height: fit-content;
  background-color: #34495e;
  overflow-y: scroll;
  overflow-x: hidden;
}
.display_container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  border-radius: 10px;
  width: 500px;
  height: fit-content;
}
.display1{
  width: 200px;
  height: 130vh;
  background-color: rgb(6, 99, 68);
  color: #fff;
  padding: 20px;
}
.display2{
  width: 300px;
  height: 130vh;
  background-color: #fff;
  border-right:1px solid grey ;
  border-top:1px solid grey ;
  border-bottom:1px solid grey ;
  color: black;
  padding: 20px;
}
.top{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  font-weight: bold;
  margin: 20px 30px;
  cursor: pointer;
}
.profile_img{
  width:120px;
  height:120px;
  border-radius: 50%;
  background-color:rgb(236, 237, 240) ;
  color: rgb(201, 205, 214);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.person-icon{
  font-size: 50px !important;
}
.profile_img img{
  width:120px;
  height:120px;
  border-radius: 50%;
}

.display1 p{
  color: rgb(201, 205, 214);
  padding: 0px;
  font-size: 14px;
}
.job{
  font-size: 15px;
  font-weight: 200;
  color: rgb(201, 205, 214);
  /* line-height: 20px; */
  padding: 0px 10px;
}
.name{
  color: #fff !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  margin: 5px;
}
.details{
  color: #fff !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  margin-top: 20px;
}
.display2 p{
  font-size: 14px;
  line-height: 20px;
  color: rgb(130, 139, 162);
}

/* @media only screen and (max-width: 1024px) {
  .main_container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  .left_container {
    width: 100%;
    margin-left: 0;
    
  }
  .left_container h1{
    text-align: center;
    color: rgb(36, 37, 39);
  }
  .resume_main_container{
    display: flex;
   
  }
  .right_container {
    width: 100%;
    overflow-y:visible;
  }

  .display_container {
    padding: 20px;
    width: 100%;
    display: none;
  }
} */

/* Responsive styles for mobile devices */
@media only screen and (max-width: 768px) {
  .main_container{
    width: 100%;
  height:fit-content;
  display: flex;
  flex-direction: column;
  margin:5px 5px;
  }
  .left_container {
    width: 100%;
    height: fit-content;
    padding: 0px 0px;
    margin-left: 10px;
    margin-right: 5px;
    overflow-y:visible;
  }
  .resume_main_container{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .left_container h1{
    text-align: center;
    color: skyblue;
  }
.resume_score_right{
  display: none;
}
.progress_bar{
  width: 100%;
}
.horse_tag{
  display: none;
}
.main_container h2 {
  font-size:20px ;
  font-weight: 600;
  line-height: 28px;
  color: #1e2532;
} 
.questn{
  display: none;
}
input {
  width: 80%;
  padding:20px 40px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.upload{
  display: none;
}
.personal_details{
  display: flex;
  flex-direction:column;
  padding-right:1rem ;
}
.img_container{
  width: 80%;
  height: 50px;
  right: 50px;
  bottom: 10px;
  margin: 20px 0px;
}

.img_container .input_img{
   width: 40%;
   left: 55px;
}
.gap p{
  font-size: 15px;
}
.skill_btn{
  padding: 5px;
}

/* right */
.right_container{
  width: 100%;
  height: fit-content;
  margin: 0px;
  /* position: absolute; */
}
.display_container{
  width: 300px;
  height: fit-content;
  display: flex;
  padding: 30px 0px;
}
.display1{
  width: 120px;
  height: 100vh;
  padding: 20px;
}
.display2{
  width: 200px;
  height: 100vh;
  padding: 20px;
}
.top{
  align-items: center;
  font-weight:400;
}
.profile_img{
  width:80px;
  height:80px;
}
.person-icon{
  font-size: 30px !important;
}

.display1 p{
  color: rgb(201, 205, 214);
  padding: 0px;
  font-size: 13px;
}
.job{
  font-size: 15px;
  padding: 0px 3px;
}
.name{
  font-size: 15px !important;
  font-weight: 500 !important;
}
.details{
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  margin-top: 20px;
}
.display2 p{
  font-size: 14px;
  line-height: 20px;
}
.display2 strong{
  font-size: 15px;
  font-weight: 700;
}
.mui_btn{
  width: fit-content !important;
  padding: 5px !important;
  font-size: 10px !important;
}
}
